data/Lab07.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Master" type="MasterType" />

    <xs:complexType name="MasterType">
        <xs:sequence>
            <xs:element name="Days" type="DaysType" />
            <xs:element name="Timeslots" type="TimeslotsType" />
            <xs:element name="Courses" type="CoursesType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CoursesType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="CourseBookings" type="CourseBookingsType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CourseBookingsType">
        <xs:sequence>
            <xs:element name="Course" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="CourseBooking" type="CourseBookingType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CourseBookingType">
        <xs:sequence>
            <xs:element name="Day" type="xs:string" />
            <xs:element name="Timeslot" type="xs:dateTime" />
            <xs:element name="Instructor" type="xs:string" />
            <xs:element name="Activity" type="xs:string" />
            <xs:element name="Room" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeslotsType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="TimeBookings" type="TimeBookingsType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeBookingsType">
        <xs:sequence>
            <xs:element name="Timeslot" type="xs:dateTime" />
            <xs:element name="TimeBooking" type="TimeBookingType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeBookingType">
        <xs:sequence>
            <xs:element name="Day" type="xs:string" />
            <xs:element name="Course" type="xs:string" />
            <xs:element name="Instructor" type="xs:string" />
            <xs:element name="Activity" type="xs:string" />
            <xs:element name="Room" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DaysType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="DayBookings" type="DayBookingsType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DayBookingsType">
        <xs:sequence>
            <xs:element name="Day" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="DayBooking" type="DayBookingType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DayBookingType">
        <xs:sequence>
            <xs:element name="Timeslot" type="xs:dateTime" />
            <xs:element name="Course" type="xs:string" />
            <xs:element name="Instructor" type="xs:string" />
            <xs:element name="Activity" type="xs:string" />
            <xs:element name="Room" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DayType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Monday"/>
            <xs:enumeration value="Tuesday"/>
            <xs:enumeration value="Wednesday"/>
            <xs:enumeration value="Thursday"/>
            <xs:enumeration value="Friday"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TimeslotType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][:][3][0]"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CourseType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="InstructorType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ActivityType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RoomType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
